* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: outfit;
    background-color: rgb(182, 213, 255);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Card Syling */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    background-color: white;
    max-width: 350px;
    border-radius: 20px;
    margin-bottom: 2rem;
}

.card__img img {
    border-radius: 10px;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    font-weight: 700;
    margin: 0 2rem;
}

h2 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 2rem;
    color: rgb(78, 77, 77);
}